.c-marquee.is-animated {
  position: relative;
  transform: translate3d(0, 0, 0);
}

c-marquee {
  overflow: hidden;
  scroll-behavior: smooth;
  height: 410px;
  position: relative;
}

.c-marquee.is-animated .c-marquee__container {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
  -webkit-animation: moveCustomerStories 60s linear infinite; /* Safari 4+ */
  -moz-aanimation: moveCustomerStories 60s linear infinite; /* Fx 5+ */
  -o-animation: moveCustomerStories 60s linear infinite; /* Opera 12+ */
  animation: moveCustomerStories 60s linear infinite;
}

.c-marquee.is-animated .c-marquee__container:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
  cursor: pointer;
}

.c-marquee__container {
  display: flex;
  align-items: center;
  overflow-x: auto;
  width: calc(5250px);
  height: 410px;
}

.c-marquee__item:nth-child(odd) {
  margin-bottom: 100px;
}

.c-marquee__item {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  color: #696969;
  width: 240px;
  min-height: 150px;
  padding: 1rem;
  border: 0;
  margin-left: 25px;
  margin-right: 25px;
}

.c-marquee_text {
  text-decoration: none;
}

@keyframes moveCustomerStories {
  100% {
    -webkit-transform: translateX(-2900px);
    transform: translateX(-2900px);
  }
}
